@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


.custom-sider {
  background-color: #004E41; 
}

.custom-table-row:nth-child(odd) {
  background-color: #ffffff; 
}

.custom-table-row:hover {
  background-color: #ffffff; 
}@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background: #004E41; /* Cor de fundo verde padrão */
}

.ant-table-cell {
  font-size: 14px; 
  padding: 16px;  
}

.ant-table-header {
  background-color: #fafafa;  
  font-weight: bold;
}
